<section class="contact" id="contact">
  <div class="container">
    <h2>Contact Me</h2>
    <span class="seperator"></span>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 contact__info">
        <ul>
          <li>
            <span class="material-icons"> location_on </span> Haslosha
            21,Petah-Tikva,Israel
          </li>
          <li>
            <span class="material-icons"> email </span> Juda.ishta@gmail.com
          </li>
          <li>
            <span class="material-icons"> phone_iphone </span>
            <a href="tel:052-664-8599">052-664-8599</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="contact__form">
          <form>
            <div class="form-body">
              <label for="fname"> Name</label>
              <input
                type="text"
                id="fname"
                name="name"
                placeholder="Your Name.."
              />

              <label for="lname">Email</label>
              <input
                type="text"
                id="email"
                name="email"
                placeholder="Your Email.."
              />

              <label for="subject">Subject</label>
              <input
                type="text"
                id="subject"
                name="subject"
                placeholder="Your Subject.."
              />

              <label for="lname">Message</label>
              <input
                type="text"
                id="message"
                name="message"
                placeholder="Lets Talk...."
              />
              <button mat-raised-button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
